* {
  background-color: aliceblue;
  color: black;
}

body {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  background-color: #333;
  padding: 20px;
}

.nav-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.nav-bar span {
  margin: 0 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  grid-template-areas:
    "image description"
    "list video";
  gap: 20px;
  padding: 20px;
}

.image-container {
  grid-area: image;
}

.description-container {
  grid-area: description;
}

.list-container {
  grid-area: list;
}

.video-container {
  grid-area: video;
}

.Mylist {
  margin-top: 0;
}

.description {
  width: 300px;
}

.funfactslist {
  width: 700px;
  margin: 50px;
}